@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

.skillContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillContainer__text
{
    color: white;
    flex: 0.6;
    max-width: 500px;
    margin-bottom: 0px;
}

.skillContainer__text > h2
{
    text-align: center;
    font-size: 30px;
}
.skillContainer__image
{
   flex: 0.4;
   margin-top: 20vh;
   text-align: center;
   margin-right: 30px; 
}

.skillContainer__image > img
{
    width:650px;
    border-radius: 20px;
    object-fit: contain;
}

.skillContainer__skillSet > h5
{
    font-family: "Montserrat",sans-serif;
    font-weight: 300;
    padding-bottom: 30px;
    padding-top: 10px;
}

@media (max-Width:430px){
    .skillContainer__image > img
    {
        width:350px;
        border-radius: 20px;
        object-fit: contain;
        margin-left: 30px;
    }
    .skillContainer
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .skillContainer__text
    {
        margin-top:"20px";
        color: white;
        /* flex: 0.6;
        max-width: 500px;
        margin-bottom: 0px; */
    }
    .skillContainer__text > h2
    {
        text-align: center;
        font-size: 20px;
    }
    .skillContainer__skillSet > h5
    {
        font-family: "Montserrat",sans-serif;
        font-weight: 200;
        font-size: 16px;
        width: 300px;
        padding-bottom: 8px;
        padding-top: 5px;
    }
}




.skillContainer__slider > .MuiLinearProgress-colorPrimary
{
    background-color: rgb(88, 88, 88);
}

.skillContainer__slider1 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:tomato; 
}

.skillContainer__slider2 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:#293191; 
}

.skillContainer__slider3 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:#5a2991; 
}

.skillContainer__slider4 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:#91296e; 
}

.skillContainer__slider5 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:#539129; 
}

.skillContainer__slider6 > div >.MuiLinearProgress-barColorPrimary
{
    background-color:#299191; 
}

